@import "./base.css";

body {
  background: #222;
  min-height: 100svh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1716690449483-598c9f7fe0d0?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk5MTAyMzN8&ixlib=rb-4.0.3&q=85");
  background-position: center;
  background-size: cover;
}





#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  font-weight: normal;
}

a,
.green {

    --_border: 2px;
    --_border-clr: rgba(255,255,255,.9);
    --_corner-offset: 12px;
    --_corner-offset-inner: calc(var(--_corner-offset) - var(--_border)); /* slightly less than outer border */
    --_corner-gradient-start: 0px;
    --_corner-gradient-end: 8px; 
    --_corner-gradient-end-inner: calc(var(--_corner-gradient-end) - var(--_border)); /* slightly less than outer border */
    --_border-inner-offset: 3px;
  
    background: #444;
    color: #fff;
    border: none;
    padding: .75em 1.5em;
    width: fit-content;
    font-size: clamp(1rem, 2.5vw, 1.7rem);
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .75rem;
    border: var(--_border) solid var(--_border-clr);
    clip-path: polygon(
      var(--_corner-offset) 0,
      calc(100% - var(--_corner-offset)) 0,
      100% var(--_corner-offset),
      100% calc(100% - var(--_corner-offset)),
      calc(100% - var(--_corner-offset)) 100%,
      var(--_corner-offset) 100%,
      0 calc(100% - var(--_corner-offset)),
      0 var(--_corner-offset)
    );
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0) var(--_corner-gradient-start),
        var(--_border-clr) var(--_corner-gradient-end),
        rgba(0, 0, 0, 0) var(--_corner-gradient-end)
      ),
      linear-gradient(
        225deg,
        rgba(0, 0, 0, 0) var(--_corner-gradient-start),
        var(--_border-clr) var(--_corner-gradient-end),
        rgba(0, 0, 0, 0) var(--_corner-gradient-end)
      ),
      linear-gradient(
        315deg,
        rgba(0, 0, 0, 0) var(--_corner-gradient-start),
        var(--_border-clr) var(--_corner-gradient-end),
        rgba(0, 0, 0, 0) var(--_corner-gradient-end)
      ),
      linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) var(--_corner-gradient-start),
        var(--_border-clr) var(--_corner-gradient-end),
        rgba(0, 0, 0, 0) var(--_corner-gradient-end)
      );
    background-position: top left, top right, bottom right, bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: color 300ms ease-in-out;
    backdrop-filter: blur(2px);
    position: relative;
  
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(208, 44%, 21%, 0.831);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10rem;
  }
}

/* Imnported from about.vue page */

@media (min-width: 1024px) {
  .container {
    align-items: center;
  }
}

/* Imported from app.vue */

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color:white;
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}

/* Imported from HelloWorld.vue comp */

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
